:root {
  --dark: black;
  --light: white;
  --darkorange: #ef6c00;
  --lightorange: #ffa726;
}

.remove-all-styles {
  all: revert;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Creepster", cursive;
}

h1 {
  margin: 0;
  padding: 15px 30px 15px 30px;
}

h3 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.2rem !important;
}

a {
  color: var(--light);
}

header {
  height: 20%;
  background-color: var(--dark);
  text-align: center;
  color: var(--light);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

main {
  height: 75%;
}

footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

.tab a.active {
  color: #fff;
  border-bottom: var(--darkorange) solid 2px;
  background-color: var(--dark);
  font-size: 1.5rem;
}

.selected-movie {
  margin: 25px 150px 50px 150px;
}

.selected-movie-title {
  font-family: "Creepster", cursive;
}

.movieListContainer {
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movieListContainer::after {
  content: "";
  flex: auto;
}

.movieSelectorContainer {
  margin: 40px;
  background-color: var(--dark);
}

.movieSelectorItem {
  position: relative;
}

.movieselector,
.dark-background {
  background-color: var(--dark);
  color: var(--light);
}

.row .col {
  padding: 0 1rem !important;
}

.row .col12 {
  width: none;
}

.itemTitle {
  margin-bottom: 10px;
  line-height: 19px;
  text-align: center;
  height: 50px;
}

.movieSelectorItem:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

.start-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.btn {
  background-color: var(--darkorange) !important;
  width: 20% !important;
  min-height: 50px !important;
  margin-bottom: 10px;
  line-height: 36px;
  padding: 8px 20px !important;
  min-width: 180px;
}

.btn:hover {
  background-color: var(--lightorange) !important;
}

.btn-header {
  background-color: var(--darkorange) !important;
  position: absolute;
  top: 30px;
  right: 15px;
  text-transform: none !important;
}

.btn-header:hover {
  background-color: var(--lightorange) !important;
  color: var(--dark) !important;
}

.start h1 {
  margin: 0;
  padding: 0;
}

.logo {
  margin-bottom: 30px;
}

.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
  overflow: visible;
}

.card {
  margin: auto;
  background-color: var(--dark);
}

.card.large {
  height: 175px;
  width: 216px;
  position: absolute;
  top: 37%;
  left: 50%;
  margin: 0 auto;
}
.card .card-title {
  text-align: center;
  color: var(--light);
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 15px;
  height: auto;
  margin-bottom: 15px;
}

.card-image:first-child img {
  height: auto;
  text-align: end;
}

.info-wrapper {
  display: flex;
}

.movie-info {
  padding: 0 !important;
  position: relative;
  top: -5px;
  line-height: 36px;
}

.btn-save {
  background-color: var(--darkorange) !important;
  text-transform: none !important;
  margin-top: 25px;
  margin-right: 10px;
}

.btn-save:hover {
  background-color: var(--lightorange) !important;
  color: var(--dark) !important;
}

.strong {
  color: var(--light);
  float: left;
  margin-right: 10px;
}

.divider {
  height: 3px;
}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

#font-black {
  color: var(--dark);
}

/* .options {

} */

.typeList, .subgenreList, .yearsList, .languageList {
  width: 30vw;
  max-height: 60vh;
  text-align: center;
  height: auto;
  padding: 0;
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.typeList li, .subgenreList li, .yearsList li, .languageList li {
  padding: .5em 1em;
}

.typeList li:hover, .subgenreList li:hover, .yearsList li:hover, .languageList li:hover {
  background-color: var(--darkorange);
  color: var(--light);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.formTitle {
  color: var(--darkorange);
  margin-bottom: 20px;
}

.select select[multiple] {
  width: 30%;
  text-align: center;
}

.select select[multiple] option:hover {
  background-color: var(--darkorange);
  color: var(--light);
}

.delimiter {
  border-bottom: var(--dark) solid 1px;
}

.creepy {
  font-family: "Creepster", cursive;
  margin: 0;
  padding: 15px 0 15px 0;
}

#film-title {
  font-size: 3em;
  color: orange;
  text-align: left;
  display: block;
  margin-bottom: 25px;
  line-height: 1em;
}

.synopsis-text {
  line-height: 23px;
  margin-top: 21px;
}

.filmSynopsis {
  color: grey;
}

.responsive {
  width: auto;
  height: 60vh;
  object-fit: contain;
  background-color: var(--dark);
}

.caution {
  background-color: yellow;
  color: var(--dark);
  font-family: "Creepster", cursive;
  padding: 4px;
  border-style: groove;
  border-width: 2px;
  border-color: var(--dark);
  margin-bottom: 5px;
  border-radius: 25px;
}

.treat {
  background-color: greenyellow;
  color: var(--dark);
  font-family: "Creepster", cursive;
  padding: 4px;
  border-style: groove;
  border-width: 2px;
  border-color: var(--dark);
  margin-bottom: 5px;
  border-radius: 25px;
}

.trick {
  background-color: red;
  color: var(--dark);
  font-family: "Creepster", cursive;
  padding: 4px;
  border-style: groove;
  border-width: 2px;
  border-color: var(--dark);
  margin-bottom: 5px;
  border-radius: 25px;
}

.spooky {
  background-color: rgb(129, 129, 218);
  color: var(--dark);
  font-family: "Creepster", cursive;
  padding: 4px;
  border-style: groove;
  border-width: 2px;
  border-color: var(--dark);
  margin-bottom: 5px;
  border-radius: 25px;
}

.card-content {
  line-height: 2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: orange;
  margin: auto;
  padding: 15px;
  border: 5px var(--dark) solid;
  width: 80%;
}

.close {
  color: grey;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--dark);
  cursor: pointer;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 901px) {
  .selected-movie {
    margin: 25px 20% 50px 20%;
  }
  .card-image {
    text-align: end;
  }
}

@media only screen and (max-width: 900px) {
  .selected-movie {
    margin: 25px 70px 50px 70px;
  }
  .card-image {
    text-align: end !important;
  }
  .btn-header {
    position: unset !important;
    margin-top: -30px;
  }
}

@media only screen and (max-width: 601px) {
  .selected-movie {
    margin: 25px 25px 50px 25px;
  }
  #film-title {
    font-size: 2.7em;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .typeList, .subgenreList, .yearsList, .languageList {
    width: 80vw;
    }
}

@media only screen and (max-width: 350px) {
  .movieSelectorContainer {
    margin: 0;
  }
  .movieListContainer {
    margin: 0;
  }
  .selected-movie {
    margin: 25px 8px 50px 8px;
  }
  .row .col {
    padding: 0 0.5rem !important;
  }
  .movie-info {
    margin-top: none;
    font-size: 0.7em;
    line-height: 17px;
  }
  #film-title {
    line-height: 17px;
    margin-top: none;
    margin-bottom: 10px;
  }
  .strong {
    float: none;
    display: flow-root;
  }
  .details {
    margin-bottom: 10px;
  }
  .trickortreatTitle {
    margin-bottom: 10px;
  }
  .select select[multiple] {
    width: 80%;
    text-align: center;
    font-size: 0.8em;
}
}
