.remove-all-styles {
  all: revert;
}

h1, h2, h3, h4, h5 {
  font-family: "Creepster", cursive;
}

h1 {
  margin: 0;
  padding: 15px 0 15px 0;
}

h3 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.2rem;
}

a {
  color: white;
}

header {
  height: 20%;
  background-color: black;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

main {
  height: 75%;
}

.tab a.active {
  color: #fff;
  border-bottom: #ef6c00 solid 2px;
  background-color: black;
  font-size: 1.5rem;
}

footer {
  padding: 10px;
  background-color: black;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.selected-movie {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movieListContainer {
  margin: 40px;
}

.movieSelectorContainer {
  margin: 40px;
  background-color: black;
}

.movieSelectorItem {
  position: relative;
}

.movieselector,
.dark-background {
  background-color: black;
  color: white;
}

.row .col {
  padding: 0 1rem !important;
}

.itemTitle {
  margin-bottom: 10px;
  line-height: 19px;
  text-align: center;
  height: 50px;
}

.movieSelectorItem:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

.start-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.btn {
  background-color: #ef6c00 !important;
  width: 20% !important;
  min-height: 50px !important;
  margin-bottom: 10px;
  line-height: 36px;
  padding: 8px 20px !important;
  min-width: 180px;
}

.btn:hover {
  background-color: #ffa726 !important;
}

.start h1 {
  margin: 0;
  padding: 0;
}

.logo {
  margin-bottom: 30px;
}

.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
  overflow: visible;
}

.card {
  margin: auto;
  background-color: black;
}

.card.large {
  height: 175px;
  width: 216px;
  position: absolute;
  top: 37%;
  left: 50%;
  margin: 0 auto;
}
.card .card-title {
  text-align: center;
  font-size: 0.9rem;
  padding: 6px;
  color: white;
  height: 80px;
}

.card-image:first-child img {
  width: 100%;
  height: 250px;
}

.divider {
  height: 3px;
}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.formTitle {
  color: #ef6c00;
  margin-bottom: 20px;
}

.select select[multiple] {
  width: 30%;
  text-align: center;
}

.select select[multiple] option:hover {
  background-color: #ef6c00;
  color: white;
}

.delimiter {
  border-bottom: black solid 1px;
}

.creepy {
    font-family: "Creepster", cursive;
    margin: 0;
    padding: 15px 0 15px 0;
  }

  #film-title {
      font-size: 50px;
      color: orange;
  }

  .responsive {
    width: auto;
    height: 60vh;
    object-fit: contain;
    background-color: black;
  }

  #caution {
      background-color: yellow;
      color: black;
      font-family: "Creepster", cursive;
      padding: 4px;
      border-style: groove;
      border-width: 2px;
      border-color: black;
      margin-bottom: 5px;
      border-radius: 25px;
  } 

  #treat {
    background-color: greenyellow;
    color: black;
    font-family: "Creepster", cursive;
    padding: 4px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    margin-bottom: 5px;
    border-radius: 25px;
} 

#trick {
    background-color: red;
    color: black;
    font-family: "Creepster", cursive;
    padding: 4px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    margin-bottom: 5px;
    border-radius: 25px;
} 

.card-content {
    line-height: 2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: orange;
    margin: auto;
    padding: 15px;
    border: 5px black solid;
    width: 80%; 
}

.close {
    color:grey;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

